{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>Entrar</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="{% static 'core/images/icons/favicon.ico' %}"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'registration/css/main.css' %}">
  <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-5">
      <form method="post" action="{% url 'forgot_password' %}" class="login100-form validate-form">
        {% csrf_token %}
        <span class="logo pb-4">
          <img src="{% static 'core/images/calango.png' %}" width="55px" class="float-left">
          COJ <span style="color: #FF7C5D">.</span>
          <img src="{% static 'core/images/unb.png' %}" width="70px" class="float-right mt-2">
        </span>

        {% if form.non_field_errors %}
          <p class="text-center text-danger mb-2 small">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </p>
        {% endif %}
        <p class="text-center m-4 text-secondary">
          Uma mensagem de recuperação de senha será enviada para o email cadastrado.
        </p>

        <div class="wrap-input100 validate-input" data-validate="O email é obrigatório">
          <span class="label-input100">Email</span>
          <input id="id_email" class="input100" type="text" name="email" placeholder="Digite seu email">
          <span class="focus-input100" data-symbol="&#xf406"></span>
        </div>

        <div class="text-center m-4">
          <a href="{% url 'login' %}">
            Fazer login
          </a>
        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button type="submit" class="btn login100-form-btn">RECUPERAR SENHA</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{% static 'registration/js/main.js' %}"></script>

</body>
</html>