
/* ----------- SIDEBAR -----------------*/

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    border-right: 1px solid rgba(0,0,0,.125);
    font-family: Poppins-Regular, sans-serif;
}

#sidebar-wrapper .sidebar-heading {
    padding: 1.875rem 1.25rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    display: none;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

#menu-toggle .dropdown {
    text-align: center;
}

@media (min-width: 770px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

@media only screen and (max-width: 770px) {
    #menu-toggle {
        display: block;
    }

    #page-content-wrapper .container-fluid {
        margin-top: 50px;
    }
}

#sidebar-wrapper .list-group-item{
    border: none;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    padding-left: 50px;
}

#sidebar-wrapper .list-group {
    padding-right: 50px;
}

.active {
  background-color: var(--primary) !important;
}

/* ----------- GENERAL STYLING --------*/

h1, h2, h3, h4, h5, h6 {
    font-family: Poppins-Medium, sans-serif;
}

