{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>COJ</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="{% static 'core/images/icons/favicon.ico' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'core/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css"
        href="{% static 'core/fonts/iconic/css/material-design-iconic-font.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'judge/css/base.css' %}">
  <!--===============================================================================================-->
  {% block css %}
  {% endblock %}
</head>
<body>

<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    {#    <div class="sidebar-heading">Start Bootstrap</div>#}
    <span class="sidebar-heading logo m-3">
          <img src="{% static 'core/images/calango.png' %}" width="50px" class="float-left">
          COJ <span style="color: #FF7C5D">.</span>
    </span>
    <div class="list-group list-group-flush sticky-top position-fixed">
      {% block nav_1 %}
        <a href="{% url 'home' %}" class="list-group-item list-group-item-action">Início</a>
      {% endblock %}
      {% block nav_2 %}
        <a href="{% url 'schedule_list' %}" class="list-group-item list-group-item-action">Listas</a>
      {% endblock %}
      {% block nav_3 %}<a href="#" class="list-group-item list-group-item-action">Questões</a>{% endblock %}
      {% block nav_4 %}<a href="#" class="list-group-item list-group-item-action">Submissões</a>{% endblock %}
      {% block nav_5 %}<a href="#" class="list-group-item list-group-item-action">Sair</a>{% endblock %}
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <div id="menu-toggle">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="width: 200px">
          Navegação
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 200px">
          <a class="dropdown-item" href="#">Início</a>
          <a class="dropdown-item" href="#">Listas</a>
          <a class="dropdown-item" href="#">Submissões</a>
        </div>
      </div>
    </div>

    <div class="container-fluid p-5">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


<script src="{% static 'core/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'core/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'core/vendor/bootstrap/js/bootstrap.min.js' %}"></script>


{% block js %}
{% endblock %}

</body>
</html>