{% extends "judge/base.html" %}

{% block nav_list %}
  <a href="{% url 'schedule_list' %}" class="list-group-item list-group-item-action active">Listas</a>
{% endblock %}

{% block content %}

  <div class="container mt-5">

    <div class="card bg-light text-center" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">{{ object.name }}</h5>
        <p class="card-text">{{ object.description }}</p>
      </div>

      <div class="table-responsive">
        <table class="table table-light table-striped">
          <thead>
          <tr>
            <th class="text-center" style="width: 50%">Entrada(s)</th>
            <th class="text-center" style="width: 50%">Saída</th>
          </tr>
          </thead>
          <tbody>
          {% for case in object.cases.all %}
            <tr>
              <td>{{ case.inputs }}</td>
              <td>{{ case.output|linebreaks }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="card-footer">
        {% if user.student %}
          <a class="btn btn-primary mr-3" style="width: 180px" href="{% url 'submission_create' object.pk %}">Submeter código</a>
          <a class="btn btn-primary" style="width: 180px" href="#">Ver submissões</a>
        {% else %}
          <a class="btn btn-primary" style="width: 180px" href="#">Editar Questão</a>
        {% endif %}
      </div>


    </div>
  </div>

{% endblock content %}
