{% extends "judge/base.html" %}

{% block nav_list %}
  <a href="#" class="list-group-item list-group-item-action active">Listas</a>
{% endblock %}

{% block content %}

   {% if user.professor %}
      <a class="ml-3 btn btn-primary float-right" href="{% url 'list_create' %}">
        Criar lista</a>
      <a class="mr-3 btn btn-primary float-right" href="{% url 'schedule_create' %}">
        Agendar lista</a>
   {% endif %}

  <h2 class="mb-5">Listas de Exercícios</h2>
  <div class="table-responsive">
    <table class="table table-hover">

      <thead>
      <tr>
        <th>Nome</th>
        <th>Início</th>
        <th>Término</th>
        {% if user.student %}
          <th class="text-center">Status</th>
        {% else %}
          <th>Turma</th>
        {% endif %}
      </tr>
      </thead>

      <tbody>
      {% for object in object_list %}
        <tr>
          <td><a href="{% url 'schedule_detail' object.pk %}">{{ object.name }}</a></td>
          <td>{{ object.start_date|date:'d/m/Y H:m' }}</td>
          <td>{{ object.due_date|date:'d/m/Y H:m' }}</td>
          {% if user.student %}
          <td class="text-center">
            {% if object.concluded %}<i class="fa fa-check" title="Concluída"></i>
            {% else %}<i class="fa fa-window-minimize" title="Não concluída"></i>
            {% endif %}
          </td>
          {% else %}
            <td>{{ object.course_class }}</td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>

    </table>
  </div>
{% endblock content %}
