{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>COJ</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="{% static 'core/images/icons/favicon.ico' %}"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'judge/css/base.css' %}">
  <!--===============================================================================================-->
  {% block css %}
  {% endblock %}
</head>
<body>

<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">

    <span class="sidebar-heading logo m-3">
          <img src="{% static 'core/images/calango.png' %}" width="50px" class="float-left">
          COJ <span style="color: #FF7C5D">.</span>
    </span>

    <div class="list-group list-group-flush sticky-top">

      {% block nav_home %}
        <a href="{% url 'home' %}" class="list-group-item list-group-item-action">Início</a>
      {% endblock %}

      {% block nav_list %}
        <a href="{% url 'schedule_list' %}" class="list-group-item list-group-item-action">Listas</a>
      {% endblock %}

      {% if user.professor %}

        {% block nav_quest %}
          <a href="{% url 'subject_list' %}" class="list-group-item list-group-item-action">Questões</a>
        {% endblock %}

        {% block nav_class %}
          <a href="{% url 'class_list' %}" class="list-group-item list-group-item-action">Turmas</a>
        {% endblock %}

      {% else %}

        {% block nav_sub %}
          <a href="{% url 'submission_list' %}" class="list-group-item list-group-item-action">Submissões</a>
        {% endblock %}

      {% endif %}

      <a href="{% url 'logout' %}" class="list-group-item list-group-item-action">Sair</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <div id="menu-toggle">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Navegação
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'home' %}">Início</a>
          <a class="dropdown-item" href="{% url 'schedule_list' %}">Listas</a>
          {% if user.professor %}
            <a class="dropdown-item" href="{% url 'subject_list' %}">Questões</a>
            <a class="dropdown-item" href="{% url 'class_list' %}">Turmas</a>
          {% else %}
            <a class="dropdown-item" href="{% url 'submission_list' %}">Submissões</a>
          {% endif %}
          <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
        </div>
      </div>
    </div>

    <div class="container-fluid p-5">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


{% block js %}
{% endblock %}

</body>
</html>