{% extends "judge/base.html" %}

{% block nav_class %}
  <a href="{% url 'class_list' %}" class="list-group-item list-group-item-action active">Turmas</a>
{% endblock %}

{% block content %}
  <h2 class="mb-4">Concluir Turma</h2>

  <p>Você tem certeza que deseja desativar esta turma? Os alunos perderão acesso à plataforma até que sejam
  adicionados em outra turma.</p>

  <form action="" method="post">
    {% csrf_token %}

    <div class="d-flex justify-content-center">
      <a href="{% url 'class_list' %}" class="mr-3 btn btn-primary">
        Cancelar</a>
      <button class="ml-3 btn btn-danger" type="submit">Desativar</button>
    </div>
  </form>
{% endblock %}