{% extends "judge/base.html" %}
{% load static %}

{% block nav_faq %}<a href="#" class="list-group-item list-group-item-action active">Ajuda</a>{% endblock %}


{% block content %}

  <h2 class="mb-5">Ajuda</h2>

  <div class="card mb-3">
    <h5 class="card-header">O que é um "Erro de Apresentação"?</h5>
    <div class="card-body">
      <p class="card-text">Você recebe esse status quando seu algoritmo retorna valores corretos,
        mas apresentados da maneira incorreta, pois o judge espera respostas exatamente iguais ao gabarito.
        Esse status pode aparecer por divergência do seu resultado com o gabarito por causa de
        <strong>espaços, quebras de linha, letras maiúsculas ou minúsculas</strong>, conforme solicitado no enunciado.
        Por se tratar apenas de um erro visual, para resolvê-lo,
        evite mexer na lógica de cálculo do seu algoritmo, pois ela está correta, e procure por problemas nas
        funções de escrita na tela. Lembre-se que
        seu programa <strong>não</strong> deverá escrever nada na tela durante sua execução e apresentar somente
        o resultado final, assim como nos exemplos da questão.
      </p>
    </div>
  </div>
  <div class="card mb-3">
    <h5 class="card-header">O que é um "Erro de Compilação"?</h5>
    <div class="card-body">
      <p class="card-text">Um erro de compilação ocorre antes mesmo do online judge conseguir executar seu programa. Ou
        seja, você infringiu alguma regra de sintaxe ou semântica que o compilador percebeu antes de transformar seu
        algoritmo em código de máquina. Se seu algoritmo não executa no online judge,
        <strong>ele também não está executando em sua máquina local</strong>
        e pode indicar que você não está testando seu algoritmo antes de submetê-lo.
        Execute seu algoritmo em sua máquina
        e verifique o erro que o Calango irá mostrar para você. Preste atenção na linha e na descrição do erro.</p>
    </div>
  </div>
  <div class="card mb-3">
    <h5 class="card-header">O que é um "Erro de Execução"?</h5>
    <div class="card-body">
      <p class="card-text">O erro de execução ocorre quando alguma operação inválida é realizada, mesmo que aparemente
        seu algoritmo não tenha erros de sintaxe ou semântica. Um erro de execução está relacionado aos
        valores que seu programa recebe e processa. Portanto,
        <strong>pode ser que, em determinados casos de teste, seu algoritmo funcione até o final,</strong>
        mas em outros não. Por exemplo, uma divisão por zero irá lançar um erro de execução. Mesmo
        que seu programa passe em todos
        os casos de teste da questão, ainda não é uma garantia que seu programa será aceito.
        Por isso, teste seu algoritmo com o maior número de exemplos possíveis além dos que são propostos
        como exemplo na questão.
      </p>
    </div>
  </div>
  <div class="card mb-3">
    <h5 class="card-header">O que significa "Resposta Incorreta"?</h5>
    <div class="card-body">
      <p class="card-text">Caso seu algoritmo compile, execute até o final mas a resposta que você mostra (ou deixa de
        mostrar) divirja <strong>totalmente ou parcialmente</strong> do gabarito, então você irá receber o status de
        resposta incorreta.
        Nesse caso, você precisa rever todo o seu algoritmo e corrigir a lógica de cálculo para que, assim, chegue no
        resultado correto. Use a opção passo-a-passo do Calango para entender onde seu problema começa. Releia a
        questão para garantir que está com o raciocínio correto para solucioná-la.
      </p>
    </div>
  </div>
  <div class="card mb-3">
    <h5 class="card-header">O que acontece quando recebo um "Aceito"?</h5>
    <div class="card-body">
      <p class="card-text">Se sua submissão foi aceita, então você <strong>concluiu</strong> a questão.
        Se ela for uma questão avaliativa e estiver em uma lista, você receberá a nota equivalente,
        e o seu percentual de "Conclusão das Listas" na página inicial irá aumentar. Esse percentual
        se refere somente às listas que já foram disponibilizadas para você responder e não contabiliza questões avulsas.
        Por exemplo, se você já teve 5 listas abertas com 5 questões cada e desse total você só concluiu 7 questões,
        então seu percentual apresentado será de 28,00%.</p>
    </div>
  </div>

{% endblock %}
