{% extends "judge/base.html" %}
{% load static %}

{% block nav_home %}<a href="#" class="list-group-item list-group-item-action active">Início</a>{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static  'judge/css/home.css' %}">
{% endblock %}

{% block content %}

  {% if user.professor %}
    <div class="float-right">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          {{ course_class }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for class in user.professor.classes.all %}
            <a class="dropdown-item" href="{% url 'home' class.pk %}">{{ class }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  <h2>Calango Online Judge</h2>
  <p class="ml-1"> Olá, {{ user.full_name.split|first }}.
    {% if user.student and user.student.active_class %}
      Veja seu desempenho e estatísticas de sua turma atual {{ user.student.active_class }}.
    {% elif user.professor %}
      Veja as estatísticas da sua turma {{ course_class }}.
    {% endif %}

  </p>


  <section class="statistics">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="box mb-3">
            <i class="fas fa-list-alt fa-fw bg-primary"></i>
            <div class="info">
              <h3>{{ first_count }}</h3>
              <p>Listas de Exercícios</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="box mb-3">
            <i class="fas fa-cloud-upload-alt fa-fw bg-primary"></i>
            <div class="info">
              <h3>{{ second_count }}</h3>
              <p>Submissões</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="charts">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="chart-container mb-3">
            <h5 class="mb-4">Resultados</h5>
            <canvas id="resultsChart" height="120"></canvas>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}


{% block js %}
  {{ result_labels|json_script:"labels" }}
  {{ result_values|json_script:"values" }}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="{% static 'judge/js/home.js' %}"></script>
{% endblock %}