{% extends "judge/base.html" %}
{% load static %}

{% block nav_home %}<a href="#" class="list-group-item list-group-item-action active">Início</a>{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static  'judge/css/home.css' %}">
{% endblock %}

{% block content %}

  <h2>Calango Online Judge</h2>
  <p class="ml-1"> Olá, {{ user.full_name.split|first }}.
    {% if user.student and user.student.active_class %}
      Veja seu desempenho e estatísticas de sua turma atual {{ user.student.active_class }}.
    {% elif user.professor %}
      Veja as estatísticas das suas turmas ativas.
    {% endif %}

  </p>


  <section class="statistics">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="box mb-3">
            {% if user.student %}
              <i class="fas fa-list-alt fa-fw bg-primary"></i>
              <div class="info">
                <h3>{{ first_count }}</h3>
                <p>Listas de Exercícios</p>
              </div>
            {% else %}
              <i class="fas fa-graduation-cap fa-fw bg-primary"></i>
              <div class="info">
                <h3>{{ classes_count }}</h3>
                <p>Turmas Ativas</p>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="col">
          <div class="box mb-3">
            <i class="fas fa-cloud-upload-alt fa-fw bg-primary"></i>
            <div class="info">
              <h3>{{ second_count }}</h3>
              <p>Submissões em Listas</p>
            </div>
          </div>
        </div>
        {% if total_percentage >= 0 %}
          <div class="col">
            <div class="box mb-3">
              <i class="fas fa-check fa-fw bg-primary"></i>
              <div class="info">
                <h3>{{ total_percentage|floatformat:2 }}%</h3>
                <p>Conclusão das Listas</p>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
      {% if user.student %}
        <div class="row">
          <div class="col">
            <div class="box mb-3">
              <i class="fas fa-cloud-upload-alt fa-fw bg-primary"></i>
              <div class="info">
                <h3>{% if attempts %}{{ attempts|floatformat:2 }}{% else %}0{% endif %}</h3>
                <p>Sua média de tentativas</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="box mb-3">
              <i class="fas fa-cloud-upload-alt fa-fw bg-primary"></i>
              <div class="info">
                <h3>{% if class_attempts %}{{ class_attempts|floatformat:2 }}{% else %}0{% endif %}</h3>
                <p>Média de tentativas da turma</p>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </section>
  <section class="charts">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="chart-container mb-3">
            <h5 class="mb-4">Seus resultados</h5>
            <canvas id="resultsChart" height="120"></canvas>
          </div>
        </div>
        <div class="col">
          <div class="chart-container mb-3">
            <h5 class="mb-4">Suas submissões por dia</h5>
            <canvas id="weekdayChart" height="120"></canvas>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}


{% block js %}
  {{ results|json_script:"results" }}
  {{ weekday|json_script:"weekday" }}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="{% static 'judge/js/home.js' %}"></script>
{% endblock %}