{% extends "judge/base.html" %}

{% block nav_list %}
  <a href="{% url 'schedule_list' %}" class="list-group-item list-group-item-action active">Listas</a>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'schedule_list' %}">Listas Agendadas</a></li>
      <li class="breadcrumb-item active" aria-current="page">Nova Lista</li>
    </ol>
  </nav>

  <h2 class="my-4">Nova Lista de Exercícios</h2>
  <form method="post" >
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>
{% endblock %}