{% extends "judge/base.html" %}
{% load static %}

{% block nav_list %}
  {% if schedule.pk %}
    <a href="{% url 'schedule_list' %}" class="list-group-item list-group-item-action active">Listas</a>
  {% else %}
    <a href="{% url 'schedule_list' %}" class="list-group-item list-group-item-action">Listas</a>
  {% endif %}
{% endblock %}

{% block nav_quest %}
  {% if schedule.pk %}
    <a href="{% url 'subject_list' %}" class="list-group-item list-group-item-action">Questões</a>
  {% else %}
    <a href="{% url 'subject_list' %}" class="list-group-item list-group-item-action active">Questões</a>
  {% endif %}
{% endblock %}

{% block css %}
  <style>
      .loader {
          border: 5px solid #f3f3f3; /* Light grey */
          border-top: 5px solid var(--tertiary); /* Green */
          border-radius: 50%;
          width: 40px;
          height: 40px;
          display: none;
          animation: spin 2s linear infinite;
      }

      @keyframes spin {
          0% {transform: rotate(0deg);}
          100% {transform: rotate(360deg);}
      }
  </style>
{% endblock %}

{% block content %}

  {% if schedule.pk %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'schedule_list' %}">Listas Agendadas</a></li>
        <li class="breadcrumb-item"><a
            href="{% url 'schedule_detail' schedule.pk %}">{{ schedule.question_list.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ object.name }}</li>
      </ol>
    </nav>
  {% else %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'subject_list' %}">Questões</a></li>
        <li class="breadcrumb-item"><a
            href="{% url 'question_list' object.subject %}">{{ object.get_subject_display }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ object.name }}</li>
      </ol>
    </nav>
  {% endif %}

  <div class="container mt-5">

    <div class="card bg-light w-100">

      <div class="card-body">
        <h5 class="card-title text-center">{{ object.name }}</h5>
        <p class="card-text">{{ object.description|safe }}</p>
      </div>

      <div class="card-body text-center border">
        {% if user.student %}

          {% if is_concluded %}
            <p class="border border-success p-2 w-25 text-center m-auto text-success">Concluída</p>
          {% elif schedule.is_closed %}
            <p class="border border-danger p-2 w-25 text-center m-auto text-danger">Fechada</p>
          {% else %}
            <a class="btn btn-primary"
               {% if schedule.pk %}href="{% url 'submission_create_schedule' schedule.pk object.pk %}">
               {% else %}href="{% url 'submission_create' object.pk %}">
               {% endif %}
            Submeter código</a>
          {% endif %}

        {% else %}
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#submissionModal"
                  data-backdrop="static" data-keyboard="false"> Testar
          </button>
        {% endif %}
      </div>

      <div class="table-responsive">
        <table class="table table-light table-striped">
          <thead>
          <tr>
            <th class="text-center" style="width: 50%">Exemplos de Entradas</th>
            <th class="text-center" style="width: 50%">Exemplos de Saídas</th>
          </tr>
          </thead>
          <tbody>
          {% for case in object.cases.all %}
            <tr>
              {% if case.is_hidden and user.student %}
              {% elif case.is_hidden and user.professor %}
                <td class="pl-4 border-right text-danger">{{ case.inputs|linebreaksbr }}</td>
                <td class="pl-4 text-danger">{{ case.output|linebreaksbr }}</td>
              {% else %}
                <td class="pl-4 border-right">{{ case.inputs|linebreaksbr }}</td>
                <td class="pl-4">{{ case.output|linebreaksbr }}</td>
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>

  {% if not user.student %}
    <div class="modal fade" id="submissionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Testar Questão</h5>
            <button id="modal-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <form>
              <div class="form-group">
                <p class="text-center">
                  Cole o código que deseja submeter no campo abaixo e você verá o resultado do judge em
                  alguns instantes, nesta mesma janela. O resultado não ficará salvo no banco.
                </p>
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Código:</label>
                <textarea id="code" class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>

          <div id="loader" class="loader mx-auto mb-4"></div>
          <p id="result-box" class="bg-light text-center mx-auto w-50" style="display: none"></p>

          <div class="modal-footer justify-content-center">
            <button id="btn-close" type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button id="btn-submit" type="button" class="btn btn-primary"
                    data-href="{% url 'submission_test' %}" data-question-pk="{{ object.pk }}">
              Submeter
            </button>
          </div>

        </div>
      </div>
    </div>
  {% endif %}

{% endblock content %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script src="{% static 'judge/js/question_detail.js' %}"></script>
{% endblock %}
