{% extends "judge/base.html" %}

{% block nav_quest %}
 <a href="{% url 'subject_list' %}" class="list-group-item list-group-item-action active">Questões</a>
{% endblock %}

{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'subject_list' %}">Questões</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ subject_label }}</li>
    </ol>
  </nav>

  <a class="mt-2 ml-3 btn btn-primary float-right" href="{% url 'question_create' %}">Criar questão</a>

  <h2 class="my-4">Questões</h2>

  <div class="table-responsive">
    <table class="table table-hover">

      <thead>
      <tr>
        <th>Nome da questão</th>
        <th>Assunto da questão</th>
      </tr>
      </thead>

      <tbody>
      {% for question in object_list %}
        <tr>
          <td><a href="{% url 'question_detail' question.pk %}">{{ question.name }}</a></td>
          <td>{{ question.get_subject_display }}</td>
        </tr>
      {% endfor %}
      </tbody>

    </table>
  </div>

{% endblock content %}
