{% extends "judge/base.html" %}

{% block nav_list %}
  <a href="{% url 'schedule_list' %}" class="list-group-item list-group-item-action active">Listas</a>
{% endblock %}

{% block content %}

  <div class="container mt-5">

    <div class="card bg-light w-100">
      <div class="card-body">
        <h5 class="card-title text-center">{{ object.name }}</h5>
        <p class="card-text">{{ object.description|safe }}</p>
      </div>

      <div class="table-responsive">
        <table class="table table-light table-striped">
          <thead>
          <tr>
            <th class="text-center" style="width: 50%">Entrada(s)</th>
            <th class="text-center" style="width: 50%">Saída</th>
          </tr>
          </thead>
          <tbody>
          {% for case in object.cases.all %}
            <tr>
              <td class="pl-4 border-right">{{ case.inputs|linebreaks }}</td>
              <td class="pl-4">{{ case.output|linebreaks }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="card-footer text-center">
        {% if user.student %}
          {% if is_closed %}
            {% if is_closed == "Concluída" %}
              <p class="border border-success p-2 w-25 text-center m-auto text-success">Concluída</p>
            {% else %}
              <p class="border border-danger p-2 w-25 text-center m-auto text-danger">Fechada</p>
            {% endif %}
          {% else %}
            <a class="btn btn-primary" href="{% url 'submission_create' schedule_pk object.pk %}">Submeter código</a>
          {% endif %}
        {% endif %}
      </div>


    </div>
  </div>

{% endblock content %}
