{% extends "judge/base.html" %}
{% load static %}

{% block nav_quest %}
  <a href="{% url 'subject_list' %}" class="list-group-item list-group-item-action active">Questões</a>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'subject_list' %}">Questões</a></li>
      <li class="breadcrumb-item active" aria-current="page">Nova Questão</li>
    </ol>
  </nav>

  <h2 class="my-4">Nova Questão</h2>

  <form method="post" id="form-container">
    {% csrf_token %}
    {{ form.media }}
    {{ form|crispy }}

    <div class="my-4">
      <h3 class="mb-0">Casos de Teste</h3>
    </div>
    <div id="formset-container">
      {% with cases as formset %}
        {{ formset|crispy }}
      {% endwith %}
    </div>

    <button id="add-more" type="button" class="btn btn-primary">Adicionar caso</button>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>
  <div id="empty_form" style="display:none">{{ cases.empty_form|crispy }}</div>
{% endblock %}

{% block js %}
  <script type="text/javascript">
      $('#add-more').click(function () {
          var form_idx = $('#id_cases-TOTAL_FORMS').val();
          $('#formset-container').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
          $('#id_cases-TOTAL_FORMS').val(parseInt(form_idx) + 1);
      });
  </script>
{% endblock js %}