{% extends "judge/base.html" %}

{% block nav_class %}
  <a href="{% url 'class_list' %}" class="list-group-item list-group-item-action active">Turmas</a>
{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'class_list' %}">Turmas</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ course_class }}</li>
      <li class="breadcrumb-item active" aria-current="page">Listas Agendadas</li>
    </ol>
  </nav>

  <a class="mt-2 btn btn-primary float-right" href="{% url 'schedule_class_list' course_class.pk %}?format=csv">
      Download CSV</a>

  <h2 class="my-4">Listas Agendadas de {{ course_class }}</h2>
  <div class="table-responsive">
    <table class="table table-hover">

      <thead>
      <tr>
        <th>Nome</th>
        <th>Início</th>
        <th>Término</th>
      </tr>
      </thead>

      <tbody>
      {% for object in object_list %}
        <tr>
          <td><a href="{% url 'schedule_class_detail' course_class.pk object.pk %}">{{ object.question_list.name }}</a></td>
          <td>{{ object.start_date|date:'d/m/Y H:i' }}</td>
          <td>{{ object.due_date|date:'d/m/Y H:i' }}</td>
        </tr>
      {% endfor %}
      </tbody>

    </table>
  </div>
{% endblock content %}
