{% extends "judge/base.html" %}

{% block nav_list %}
  <a href="{% url 'schedule_list' %}" class="list-group-item list-group-item-action active">Listas</a>
{% endblock %}

{% block content %}

  {% if user.professor %}
{#    <a class="ml-3 btn btn-danger float-right" href="{% url 'schedule_delete' object.pk %}">#}
{#      Deletar agendamento</a>#}
    <a class="mr-3 ml-3 btn btn-primary float-right" href="{% url 'schedule_update' object.pk %}">
      Editar agendamento</a>
    <a class="mr-3 btn btn-primary float-right" href="{% url 'results_detail' object.pk %}">
      Ver resultados</a>
  {% endif %}

  <h2 class="mb-5">Detalhes da Lista</h2>
  <div class="container mt-5">
    <p><strong>Nome:</strong> {{ object.question_list.name }}</p>
    <p><strong>Início:</strong> {{ object.start_date|date:'d/m/Y H:i' }}</p>
    <p><strong>Término:</strong> {{ object.due_date|date:'d/m/Y H:i' }}</p>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">

      <thead>
      <tr>
        <th>Nome da questão</th>
        <th>Assunto da questão</th>
        {% if user.student %}
          <th>Status</th>
        {% else %}
          <th>Conclusões</th>
        {% endif %}
      </tr>
      </thead>

      <tbody>
      {% for question in questions %}
        <tr>
          <td><a href="{% url 'question_detail' object.pk question.pk %}">{{ question.name }}</a></td>
          <td>{{ question.get_subject_display }}</td>
          <td>{{ question.result }}</td>
        </tr>
      {% endfor %}
      </tbody>

    </table>
  </div>
{% endblock content %}
