{% extends "judge/base.html" %}

{% block nav_class %}
  <a href="{% url 'class_list' %}" class="list-group-item list-group-item-action active">Turmas</a>
{% endblock %}

{% block content %}

  <h2 class="mb-5">Alunos da Turma {{ course_class }}</h2>

  <div class="table-responsive">
    <table class="table table-hover">

      <thead>
      <tr>
        <th>Matrícula</th>
        <th>Nome</th>
        <th>Último login</th>
        <th>Remover</th>
      </tr>
      </thead>

      <tbody>
      {% for student in object_list %}
        <tr>
          <td>{{ student.registration_number }}</td>
          <td>{{ student.user.full_name }}</td>
          {% if student.user.last_login %}
           <td>{{ student.user.last_login|date:'d/m/Y H:i' }}</td>
          {% else %}
            <td>Sem login</td>
          {% endif %}
          <td>
            <a href="{% url 'student_delete' course_class.pk student.pk  %}">Remover</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>

    </table>
  </div>

{% endblock content %}
