{% extends "judge/base.html" %}

{% block nav_sub %}<a href="#" class="list-group-item list-group-item-action active">Submissões</a>{% endblock %}

{% block css %}
  <style>
      .search-sec {
          padding: 2rem;
      }

      .search-slt {
          display: block;
          width: 100%;
          font-size: 0.875rem;
          line-height: 1.5;
          color: #55595c;
          background-color: #fff;
          background-image: none;
          border: 1px solid #e8e8e8;
          height: calc(3rem + 2px) !important;
          border-radius: 0;
      }

      .wrn-btn {
          width: 100%;
          font-size: 16px;
          font-weight: 400;
          text-transform: capitalize;
          height: calc(3rem + 2px) !important;
          border-radius: 0;
          min-width: 0;
      }

      @media (min-width: 992px) {
          .search-sec {
              top: -114px;
              background: #e9ecef;
          }
      }

      @media (max-width: 992px) {
          .search-sec {
              background: #e9ecef;
          }
      }
  </style>
{% endblock %}


{% block content %}

  <h2 class="mb-5">Submissões</h2>

  {% if user.professor %}
    <section class="search-sec mb-5">
      <div class="container">
        <form method="GET" novalidate="novalidate">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                  <input type="text" class="form-control search-slt" name="id" value='{{ request.GET.id }}'
                         placeholder="Identificador">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                  <input type="text" class="form-control search-slt" name="student_name"
                         value='{{ request.GET.student_name }}' placeholder="Nome Aluno">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                  <input type="text" class="form-control search-slt" name="student_number"
                         value='{{ request.GET.student_number }}' placeholder="Matrícula Aluno">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                  <input type="text" class="form-control search-slt" name="question_id"
                         value='{{ request.GET.question_id }}' placeholder="ID Questão">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                  <input type="text" class="form-control search-slt" name="question_name"
                         value='{{ request.GET.question_name }}' placeholder="Nome Questão">
                </div>

                <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                  <button type="submit" class="btn btn-primary wrn-btn">Buscar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  {% endif %}

  <div class="table-responsive">
    <table class="table table-hover">

      <thead>
      <tr>
        <th>Identificador</th>
        {% if user.professor %}
          <th>Nome</th>
        {% endif %}
        <th>Questão</th>
        <th>Submetido em</th>
        <th>Julgado em</th>
        <th>Resultado</th>
      </tr>
      </thead>

      <tbody>
      {% for object in object_list %}
        <tr>
          <td><a href="{% url 'submission_detail' object.pk %}">{{ object }}</a></td>
          {% if user.professor %}
             <td>{{ object.student.user.full_name }}</td>
          {% endif %}
          <td>
            {% if object.list_schedule %}
              <a href="{% url 'question_detail_schedule' object.list_schedule.pk object.question.pk %}">
                {{ object.question.name }}
              </a>
            {% else %}
              <a href="{% url 'question_detail' object.question.pk %}">
                {{ object.question.name }}
              </a>
            {% endif %}
          </td>
          <td>{{ object.submitted_at|date:'d/m/Y H:i' }}</td>
          <td>{{ object.judged_at|date:'d/m/Y H:i' }}</td>
          <td>{{ object.get_result_display }}</td>
        </tr>
      {% endfor %}
      </tbody>

    </table>
    {% if object_list.count == 100 %}
      <p class="my-5 text-center text-secondary">Mostrando apenas os 100 primeiros resultados</p>
    {% endif %}
  </div>
{% endblock content %}
