{% extends "judge/base.html" %}
{% load static %}

{% block nav_sub %}
  <a href="{% url 'submission_list' %}" class="list-group-item list-group-item-action active">Submissões</a>
{% endblock %}

{% block css %}
   <link rel="stylesheet" type="text/css" href="{% static 'judge/css/submission.css' %}">
{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'submission_list' %}">Submissões</a></li>
      <li class="breadcrumb-item active" aria-current="page">#{{ object.id }}</li>
    </ol>
  </nav>

  <h2 class="my-4">Detalhes da Submissão</h2>
  <div class="container mt-5">
    <p>
      <strong>Nome da questão:</strong>
      {% if object.list_schedule %}
        <a href="{% url 'question_detail_schedule' object.list_schedule.pk object.question.pk %}">{{ object.question.name }}</a>
      {% else %}
        <a href="{% url 'question_detail' object.question.pk %}">{{ object.question.name }}</a>
      {% endif %}
    </p>
    <p><strong>Submetido em:</strong> {{ object.submitted_at|date:'d/m/Y H:i' }}</p>
    <p><strong>Julgado em:</strong> {{ object.judged_at|date:'d/m/Y H:i' }}</p>
    <p><strong>Resultado:</strong> {{ object.get_result_display }}</p>
    {% if user.professor %}
      <p><strong>Aluno:</strong> {{ object.student.user.full_name }}</p>
      <p><strong>Matrícula:</strong> {{ object.student.registration_number }}</p>
    {% endif %}
  </div>

  <div id="scaleable-wrapper" class="mt-5">
      <pre>
<code>
  {{ object.code }}
</code>
      </pre>
  </div>

{% endblock %}

{% block js %}
  <script>
      $("pre code").html(function (index, html) {
          return html.trim().replace(/^(.*)$/mg, "<span class=\"line\">$1</span>");
      });
  </script>
{% endblock %}