{% extends "judge/base.html" %}

{% block nav_list %}
  <a href="{% url 'schedule_list' %}" class="list-group-item list-group-item-action active">Listas</a>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <h2 class="mb-5">Nova Submissão</h2>
  <div class="container mt-3">
    <p>Antes de fazer sua submissão, verifique se você:</p>
    <ol>
      <li>Atribuiu um nome para seu algoritmo;</li>
      <li>Atribuiu uma síntese coerente com a questão;</li>
      <li>Testou os exemplos de entradas e saídas.</li>
    </ol>
    <p><br></p>
  </div>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Submeter</button>
    </div>
  </form>
{% endblock %}