{% extends "judge/base.html" %}

{% block nav_sub %}<a href="#" class="list-group-item list-group-item-action active">Submissões</a>{% endblock %}


{% block nav_list %}
  {% if user.professor %}
    <a href="#" class="list-group-item list-group-item-action active">Listas</a>
  {% else %}
    <a href="{% url 'schedule_list' %}" class="list-group-item list-group-item-action">Listas</a>
  {% endif %}
{% endblock %}


{% block content %}

  {% if user.professor %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'schedule_list' %}">Listas Agendadas</a></li>
      <li class="breadcrumb-item"><a href="{% url 'schedule_detail' schedule.pk %}">{{ schedule.question_list.name }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'results_detail' schedule.pk %}">Resultados</a></li>
      <li class="breadcrumb-item active" aria-current="page">Submissões</li>
    </ol>
  </nav>
  {% endif %}

  <h2 class="mb-5">Submissões</h2>
  <div class="container mb-4">
    {% if user.professor %}
      <p><strong>Aluno:</strong> {{ student.user.full_name }}</p>
      <p><strong>Agendamento de Lista:</strong> <a href="{% url 'schedule_detail' schedule.pk %}">{{ schedule }}</a></p>
    {% endif %}
  </div>
  <div class="table-responsive">
    <table class="table table-hover">

      <thead>
      <tr>
        <th>Identificador</th>
        <th>Questão</th>
        <th>Submetido em</th>
        <th>Julgado em</th>
        <th>Resultado</th>
      </tr>
      </thead>

      <tbody>
      {% for object in object_list %}
        <tr>
          <td><a href="{% url 'submission_detail' object.pk %}">{{ object }}</a></td>
          <td>
            <a href="{% url 'question_detail' object.list_schedule.pk object.question.pk %}">
              {{ object.question.name }}
            </a>
          </td>
          <td>{{ object.submitted_at|date:'d/m/Y H:i' }}</td>
          <td>{{ object.judged_at|date:'d/m/Y H:i' }}</td>
          <td>{{ object.get_result_display }}</td>
        </tr>
      {% endfor %}
      </tbody>

    </table>
  </div>
{% endblock content %}
